@charset "UTF-8";
/*  
                                           
   _____ _       _              _____  _____ _____ 
  / ___/| (•)   | |           / ____// ____/ ____/  v 4.0.5
 | (___ | |_  __| | ___ ____ | |    | (___| (___  
  \___ \| | |/ _` |/ _ / __/ | |     \___ \ ___ \ 
  ____) | | | (_| |  __\__ \ | |____ ____) |___) |
 /_____/|_|_|\__,_|\___/___/  \_____/_____/_____/                               
                                            
*/
/* CSS RESET */

/* header starts */
header{
    position: fixed;
    top:0; left: 0; right:0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background:#ffffff;
    padding:1rem 9%;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
  }
  
  header .logo{
    font-size: 4.5rem;
    font-weight: bold;
    -webkit-text-stroke-width: 2.5px;
    -webkit-text-stroke-color: #8b5b17;
    -webkit-text-fill-color: #ffffff;
    letter-spacing: 2px;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    text-transform: uppercase;
  }
  
  header .logo i{
    padding-right: .5rem;
    color:var(--brown);
  }
  
  header .navbar a{
    font-size: 2.3rem;
    z-index: 1000;
    margin-left: 2.3rem;
    color:#fff;
    text-shadow: 0 0 5px #000;
  }
  
  header .navbar a:hover{
    color:var(--brown);
    text-shadow: 0 0 10px #fff;
    <h1 style="font-size: value;"> Hello World! </h1>
  selector {
      font-size: value;
  }
  <!DOCTYPE html>
    <html>
      <head>
        <meta charset="UTF-8" />
        <title>Editor</title>
        <link rel="stylesheet" href="index.css" />
      </head>
      <body>
        <button class="bold" onclick="document.execCommand('bold',false,null);">
          𝗕
        </button>
    
        <button class="italic" onclick="document.execCommand('italic',false,null);">
          𝘐
        </button>
    
        <button
          class="underline"
          onclick="document.execCommand('underline',false,null);"
        >
          U̲
        </button>
    
        <input
          type="color"
          class="color-picker"
          id="colorPicker"
          oninput="changeColorText(this.value);"
        />
        <label>Select color</label>
    
        <button id="highlight"><mark>Highlight</mark></button>
        <input
          type="number"
          class="font-size"
          id="fontSize"
     
        />
        <label>Select Font Size</label>
        <fieldset class="userInput" contenteditable="true"></fieldset>
    
        <script>
          var boldBtn = document.querySelector(".bold");
          var italicBtn = document.querySelector(".italic");
          var underlineBtn = document.querySelector(".underline");
          var colorPicker = document.querySelector(".color-picker");
          var fontSize = document.querySelector("#fontSize");
          var highlightBtn = document.querySelector("#highlight");
          var userInput = document.querySelector('.userInput');
          boldBtn.addEventListener("click", function () {
            boldBtn.classList.toggle("inUse");
          });
    
          italicBtn.addEventListener("click", function () {
            italicBtn.classList.toggle("inUse");
          });
    
          underlineBtn.addEventListener("click", function () {
            underlineBtn.classList.toggle("inUse");
          });
    
          highlightBtn.addEventListener("click", function () {
            highlightBtn.classList.toggle("inUse");
          });
    
          const changeColorText = (color) => {
            document.execCommand("styleWithCSS", false, true);
            document.execCommand("foreColor", false, color);
          };
    
          fontSize.addEventListener('input', updateValue);
          
          function updateValue(e) {
            
        userInput.style.fontSize = `${e.target.value}px`;
    
    }
          
          document
            .getElementById("highlight")
            .addEventListener("click", function () {
              var range = window.getSelection().getRangeAt(0),
                span = document.createElement("span");
    
              span.className = "highlight";
              span.appendChild(range.extractContents());
              range.insertNode(span);
            });
        </script>
      </body>
    </html>
  }
  /* header ends */
